@charset "utf-8";
/* CSS Document */
 h1
{
	font-family: 'Rancho', cursive;}

#prizes li
{
	font-size:18px;font-weight:400;
	font-family: 'Kotta One', serif;}
#home ul
{
	font-size:20px;font-weight:400;
	font-family: 'Kotta One', serif;}
#info ul
{
	font-size:20px;font-weight:400;
	font-family: 'Kotta One', serif;}
#incentives li
{
	font-size:18px;font-weight:400;
	font-family: 'Kotta One', serif;}
#events ul
{
	font-size:20px;font-weight:400;
	font-family: 'Kotta One', serif;}
#rules li
{
	font-size:18px;font-weight:400;
	font-family: 'Kotta One', serif;}
#contact 
{
	font-size:18px;font-weight:400;
	font-family: 'Kotta One', serif;}
	
#button1
{
	position:absolute;
	top:250px;
	left:100px;}
	
#button2
{
	position:absolute;
	top:320px;
	left:90px;}

#button3
{
	position:absolute;
	top:390px;
	left:80px;}
	
#button4
{
	position:absolute;
	top:460px;
	left:80px;}
#button5
{
	position:absolute;
	top:290px;
	right:70px;}
#button6
{
	position:absolute;
	top:360px;
	right:70px;}
	